.header-background{

    
    background-color: #264653;
    font-family: Poppins;

}
.menu{
    font-size: 25px;
}
.header-background h1{
  
     font-size: 48px;
     
}
.header-pragraph{
    color:   #E0E0E0;
    ;
}
.header-btn{
    background-color: #E76F51;
    color: #fff;
    padding: 15px 50px;
    border-radius: 5px;
}
.hr{
    border: 2px solid red;
    width: 50px;
    margin-top: -20px;
}
.hr:hover{
    border: 2px solid rgb(2, 2, 240);
}
.feature-bike{
    filter: grayscale(100%);
}
.heading{
    font-size: 48px;
}
 span{
    color: #E76F51;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    text-decoration: none;
    color: black;

}
.products{
    opacity: 0;
    transition: .5s ease;
}
.card:hover .products{
    background-color: rgba(125, 210, 243, 0.397);
    opacity: 1;
}